@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Kaushan+Script&family=Nanum+Gothic:wght@400;700&display=swap");

.banner {
  width: 90%;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}

.banner-homepage-image {
  background: url("https://user-images.githubusercontent.com/70451928/159596351-1d891f16-b6a0-4d69-92b2-e9e621c2df43.jpg");
  background-size: cover;
  position: absolute;
  height: 30%;
  width: 100%;
  border-radius: 10px;
  z-index: 1;
  top: -33%;
}

.banner-homepage-image-desc {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 420px;
  font-size: 1.4rem;
}

.banner-homepage-image-desc button {
  position: relative;
  height: 50px;
  width: 150px;
  border-radius: 50px;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  background: linear-gradient(90deg, #6f019c 0%, #c6017e 135.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-homepage-image-desc button:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 150px;
  height: 50px;
  background: rgb(255, 255, 255);
  z-index: -1;
  border-radius: 50px;
}

.banner-wrapper {
  position: relative;
  margin-top: 450px;
  margin-bottom: 5rem;
}

.banner h3 {
  margin-left: 12px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  position: relative;
  margin-top: 4rem;
}

.card-section {
  position: relative;
  display: flex;
}

/* ************ BANNER FEATURE SECTION **********  */

.feature-wrapper {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
  margin-top: 50px;
  height: 85vh;
  width: 100%;
}

.feature-left {
  background: url("https://user-images.githubusercontent.com/70451928/159598119-fbec2229-7944-4ccf-9655-de0b7b450504.PNG");
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

.feature-right {
  background: url("https://user-images.githubusercontent.com/70451928/159598127-e6062ce0-bf96-4a62-9a4e-befa87e0dbfd.PNG");
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
}

.feature-left,
.feature-right {
  border-radius: 15px;
}

.feature-desc {
  color: white;
  padding: 30px 50px;
  font-size: 1.3vw;
  max-width: 290px;
}

.feature-desc button {
  background-color: #fff;
  border: none;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.feature-desc button:hover {
  background-color: rgb(223, 223, 223);
}

@media (max-width: 975px) {
  .feature-wrapper {
    height: 60vh;
  }
}

/* *********GIFT CARD SECTION********** */
.banner-gift-card-wrapper {
  padding-bottom: 5rem;
  display: flex;
}

.banner-gift-card-left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.banner-gift-card-left h3 {
  font-size: 3rem;
  margin-left: 0;
}

.banner-gift-card-left button {
  background-color: black;
  color: white;
  height: 50px;
  width: 120px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.banner-gift-card-right {
  flex: 2;
  margin-top: 3rem;
}

.banner-gift-card-right img {
  width: 800px;
  height: 320px;
  padding-left: 6rem;
}

/* ********QUESTION SECTION******* */
.question-container {
  height: 90vh;
  width: 100%;
  background: url("https://user-images.githubusercontent.com/70451928/159597544-cfc5509e-9867-4222-8055-1d367e48b7bb.jpg");
  background-size: cover;
  border-radius: 10px;
}

.question-wrapper {
  padding: 40px 50px;
  max-width: 50px;
  color: white;
}

.question-wrapper h1 {
  font-size: 5vw;
  font-family: "Cabin", sans-serif;
}

.question-wrapper button {
  height: 50px;
  width: 170px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 15rem;

  border: none;
  cursor: pointer;
}

.question-wrapper button:hover {
  background-color: rgb(223, 223, 223);
}

/* @media (max-width: 1400px) {
  .banner-wrapper {
  }
} */

/* @media (max-width: 1024px) {
  .banner-wrapper {
    margin-bottom: 250px;
  }
} */

@media (max-width: 680px) {
  .banner-homepage-image {
    background: url("https://user-images.githubusercontent.com/70451928/159596352-062f9662-df7c-4f63-acaa-6ccd7137e863.jpg");
    background-size: cover;
    height: 15%;
    top: -16.5%;
    /* right: 1.8rem; */
  }

  .banner-homepage-image-desc {
    font-size: 1rem;
    bottom: 4rem;
  }

  .card-section {
    display: block;
  }

  .feature-wrapper {
    display: block;
    height: 90vh;
  }

  .feature-left,
  .feature-right {
    height: 70vh;
    margin-bottom: 3rem;
  }
  .banner-gift-card-wrapper {
    display: block;
    margin-top: 27rem;
  }

  .banner-gift-card-right img {
    width: 400px;
    height: 200px;
    padding-left: 0;
  }

  .question-wrapper h1 {
    font-size: 10vw;
  }

  .question-container {
    height: 70vh;
    width: 100%;
    background: url("https://user-images.githubusercontent.com/70451928/159596354-87eab33a-bf30-45d6-bcf6-a8bba72ce555.jpg");
    background-size: cover;
    border-radius: 10px;
  }

  .feature-left {
    background: url("https://user-images.githubusercontent.com/70451928/159596348-293eb4c4-a903-4e4c-beb1-e2d418e0cabe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .feature-right {
    background: url("https://user-images.githubusercontent.com/70451928/159596350-75c5269f-a223-4eec-96cb-0abb4c0a53b7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
